header{
    width:100%;
    height:300px;
    font-size: 120px;
    color:#00f;
    background-color: #DBDBDB;
}
section{
    width:100%;
    height:400px;
    color:#FFA00A;
    font-size: 300px;
    background-color: #00ff00;
}

footer{
    width:100%;
    height:400px;
    font-size: 120px;
    background-color: rebeccapurple;
}
